@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom class */
.custom-header__category-item {
    @apply relative block mr-7 text-sm font-medium py-1 cursor-pointer hover:text-gray-700 text-center;
}
.custom-header__category-item-active {
    @apply text-gray-700 font-bold
}

.custom-header__category-on-pc {
    @apply lg:flex lg:relative lg:w-fit lg:justify-around lg:top-0;
}

.custom-icon {
    @apply w-5 h-5 mr-2 inline-block;
}

.custom-circle {
    /* Bo tròn 1 thẻ div */
    @apply rounded-full flex justify-center items-center px-2;
}

.custom-subheading {
    @apply text-sm text-gray-500 uppercase font-medium text-center;
}


.header__logo-img {
    width: 112px;
}

.header__category-item::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 2px;
    background-color: #666;
    transform-origin: bottom right;
    transform: scaleX(0);
    transition: transform 0.5s ease;
}
.header__category-item:hover::before {
    transform-origin: bottom left;
    transform: scaleX(1);
}

.header__cart-link:hover {
    color: #333;
}
.header__cart-link:hover > .header__cart-quantity-wrapper {
    background-color: #e4a237;
}